{% include 'Infobox' %}

<h3 class="bonfire">{{Boss.Name}} Combat information</h3>

{% if Boss.IsNPC %}
	<div class="row flexrow">
		<div class="col-sm-6">{% include 'CombatInfo' %}</div>
		<div class="col-sm-6">{% include 'Defenses' %}</div>
	</div>
{% else %}
	{% include 'CombatInfo' %}
{% endif %}

<div class="row flexrow">
	<div class="col-sm-6">
		{% include 'Negations' %}
	</div>
	<div class="col-sm-6">
		{% include 'Resistances' %}
	</div>
</div>

{% unless Nightreign %}
	{% include 'NewGamePlus' %}
{% endunless %}
