{% if type.Color %}
    {% assign style = "color: " | append: type.Color %}
{% endif %}
<a class="wiki_link"
        title="{{type}}"
        href="{{type.Href}}"
        style="{{style}}">
	{%- include 'IconImage', type: type -%}
	{%- unless imageOnly -%}
	    {{- type -}}
	{%- endunless -%}
</a>