{%- for drop in Boss.Drops -%}
	{%- unless forloop.first and Boss.Runes[0] == 0 %}<br>{% endunless -%}
	<a
		class="wiki_link"
		href="/{{drop | noXCount | spaceToPlus}}"
	>{{drop | noXCount | iconify: Boss}}</a>
	{{- drop | onlyXCount -}}
{%- endfor -%}
