<tr>
	<th scope="row">
		{% if icon %}
			{% include 'IconLink', type: icon %}
		{% else %}
			{{name}}
		{% endif %}
	</th>

	{% if data.size > 0 %}
		{% for column in data %}
			{% if column.size %}
				{% if column.size == 3 %}
					{% assign style = 'font-size: 90%' %}
				{% elsif column.size > 3 %}
					{% assign style = 'font-size: 80%' %}
				{% endif %}
				<td style="{{style}}">
					{% include 'ResistanceNumbers', numbers: column, strong: false %}
				</td>
			{% else %}
				<td>
					{% if commas %}{{column | number}}{% else %}{{column}}{% endif %}
				</td>
			{% endif %}
		{% endfor %}
	{% else %}
		<td colspan="8" style="text-align: center;">
			<strong>Immune</strong>
		</td>
	{% endif %}
</tr>