<a class="wiki_link" href="/{{weapon.Name | spaceToPlus}}">{{weapon.Name}}</a><!--
-->{% if weapon.Skill %}
	with
	<a
		class="wiki_link"
		href="/{{weapon.Skill | spaceToPlus}}"
	>{{weapon.Skill}}</a><!--
-->{% endif %}